# Development
docs/
notebooks/
*.ipynb
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
*.log
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.mypy_cache/

# Build artifacts
dist/
build/
*.egg

# Testing
.coverage
htmlcov/

# Data testing
data_test

# Environment
.env
.env.local

logs/

# Data
models/
data_test/
logs/*.log
logs/*.txt

# Plugins folder

.todo
