# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Testing
.pytest_cache/

# Jupyter Notebook
notebooks/
.ipynb_checkpoints/


# Logs
app/logs/
logs/

# OS
.DS_Store
Thumbs.db

# Self documented files
MVP.txt
Engineering.txt
documentation
LEEME_DOCUMENTACION.md
RESUMEN_IMPLEMENTACION.md
DOCUMENTACION_ORCHESTRATOR.md
GUIA_RAPIDA_ORCHESTRATOR.md
PATRONES_MANTENIMIENTO_ORCHESTRATOR.md

# Heavy data files (like datasets, models, etc.)
data/
models/
data_test/
